<div id="item3">
    <div class="containerWelcome">
        <div class="centerdiv">
            <div class="halfwidth">
                <input class="form-control" type="text" ng-model="id" placeholder="ID">
                <br/>
                <input class="form-control" type="text" ng-model="name" placeholder="Name">
                <br/>
                <input class="form-control" type="text" ng-model="company" placeholder="Company">
                <br/>
                <input type="button" ng-click="addUser()" value="Add" class="form-control">
            </div>
        </div>
    </div>
</div>

