<div id="item1">
    <div class="containerWelcome">
     <md-button> Flat Button </md-button>
     <md-button class="md-raised"> Raised Button </md-button></div>
     
     
     <md-checkbox ng-model="isChecked" aria-label="Finished?">
  Finished ?
</md-checkbox>
    
    <md-input-container>
  <label>Color</label>
  <input ng-model="color" required md-maxlength="10" type="text">
</md-input-container>
    
    <md-chip>{{"asdasd"}}</md-chip>
    <hr/>
    <md-divider>Divider</md-divider>
    
    
    <md-fab-speed-dial></md-fab-speed-dial>
</div>

