<div id="item1">
    <div class="containerWelcome">
        <h3>To Do</h3>
        <div>
            <form ng-submit="addTodo()">
                <!--<input type="text" ng-model="newtodotext" class="form-control">-->
                <md-input-container class="todoformwrapper">
                    <label>Add new to do</label>
                    <input ng-model="newtodotext" required  type="text" >
                </md-input-container>
            </form>
        </div>
        <div  class="todolist" ng-repeat="todo in todos track by $index">
            <md-checkbox class="box-one" ng-model="todo.checked" aria-label="Finished?" ng-show="!todo.checked"  ng-click="markDone(todo)">
                {{todo.title}}  </md-checkbox>
            <span class="actionIcons" ng-show="!todo.checked"></i> <i ng-click="removeTodo(todo)" class="material-icons">delete</i></span>
            <span class="lastEdited" ng-show="!todo.checked">created on {{todo.time}}</span>
        </div>
        <hr/>
        Ticked
        <hr/>
        <div  class="todolist" ng-repeat="todo in todos track by $index">
            <md-checkbox class="box-one todo" ng-model="todo.checked" aria-label="Finished?" ng-show="todo.checked"  ng-click="markDone(todo)">
                {{todo.title}}     
            </md-checkbox>
            <span class="actionIcons" ng-show="todo.checked"></i> <i ng-click="removeTodo(todo)" class="material-icons">delete</i></span>
        </div>
    </div>
</div>







